body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.menu {
    width: 100%;
    position: fixed; /* Safari */
    height: auto;
    background-color: rgba(209, 224, 224, 0.9);
    z-index: 1;
}
.menu ul{
    float:right;
    height: auto;
    list-style:none;

}
.menu ul li{
    display: inline-block;
    padding: 30px 15px;
    text-transform:uppercase;
    font-size:1em;
    
}
.menu-item {
    color: #0d1a26;
    text-decoration: none;
}
.menu-item.active{
    font-weight: bold;
}
.menu-item:hover{
    text-shadow: 2px 2px 20px #0d1a26;
    cursor:pointer;
}
.home-text {
    position: absolute;
    margin: 30vh 0 0 15%;
    color: #0d1a26;
}
.home-name{
    font-size: 40px;
    margin-bottom:10px;
}
.home-position {
    font-size: 30px;
    margin-bottom:50px;
}
.home-button{
    color: #0d1a26;
    text-decoration:none;
    border:groove;
    border-color:#0d1a26;
    padding: 10px;
}

.home-button:hover{
    background:#0d1a26;
    color: #ecf2f9;
    cursor:pointer;
}

.animation-area {
    background: linear-gradient(#ecf2f9, #0d1a26);
    height: 100vh;
    width: 100%;
}

.ball-animation{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.ball{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(19,38,57,0.15);
    border-radius: 50%;
    animation: animate 20s linear infinite;
    bottom:-100px;
}

.ball:nth-child(1){
    left:40%;
    width:50px;
    height:50px;
    border-radius: 50%;
    animation-delay:0s;
}

.ball:nth-child(2){
    left:80%;
    width:100px;
    height:100px;
    border-radius: 50%;
    animation-delay:1.5s;
    animation-duration:10s;
}

.ball:nth-child(3){
    left:24%;
    width:40px;
    height:40px;
    border-radius: 50%;
    animation-delay:5.5s;
}

.ball:nth-child(4){
    left:65%;
    width:200px;
    height:200px;
    border-radius: 50%;
    animation-delay:0s;
    animation-duration:15s;
}

.ball:nth-child(5){
    left:10%;
    width:150px;
    height:150px;
    border-radius: 50%;
    animation-delay:0s;
}

.ball:nth-child(6){
    left:90%;
    width:45px;
    height:45px;
    border-radius: 50%;
    animation-delay:3.5s;
}

.ball:nth-child(7){
    left:33%;
    width:90px;
    height:90px;
    border-radius: 50%;
    animation-delay:4.5s;
}

.ball:nth-child(8){
    left:46%;
    width:70px;
    height:70px;
    border-radius: 50%;
    animation-delay:1.4s;
}

.ball:nth-child(9){
    left:54%;
    width:90px;
    height:90px;
    border-radius: 50%;
    animation-delay:3.7s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity:1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity:0;
    }
}

.about {
    width: 100%;
    height: auto;
    background-color: #0d1a26;
    padding-bottom: 5%;
    color:  #ecf2f9;
    
}
.section-title{
    padding-top: 5%;
    text-align:center;
    font-size: 40px;
}

.about-section-name{
    text-align:center;
    font-size: 30px;
}
.summary-box{
    display: flex;
    align-items:center;
    width:70%;
    margin: 0 auto;
}
.about-section-name::before{
    content: '';
    display: block;
    height: 1px;
    width:80%;
    background:#ecf2f9;
    opacity: .5;
    margin: 2% auto; 
}
.summary-image{
    width: 350px;
    height:auto;
}
.summaty-text{
    font-size:14pt;
}
.education-box{
    font-size: 14pt;
}
.education-section{
    display: flex;
    align-items: flex-start;
    margin:0 auto;
    width:50%;
    padding: 2% 0;
}
.education-column{
    padding: 0 4%;
}

.technologie-list{
    width:100%;
    margin-top:3%;
    text-align:center;
    margin-bottom:3%;
}
.technology {
    display: inline;
    padding:10px 30px;
    font-size:60px;
}
.fab {
    color: #ecf2f9;
}
.fab:hover{
    opacity:0.7;
}
.fa-database {
    color: #ecf2f9;
}
.projects{
    width: 100%;
    height: auto;
    background-color: #ecf2f9;
    color: #0d1a26;
    padding-bottom: 3.5%;
}

.project-box{
    display:flex;
    align-items: center;
    width:70%;
    margin: 3.5% auto;
}
.project::after,
.project::before{
    content: '';
    display: block;
    height: 0.5px;
    width:70%;
    background:#0d1a26;
    opacity: .2;
    margin: 0 auto;
    margin-top:3.5%; 
}
.project-image{
    width: 30vw;
    padding: 2%;    
}
.project-title{
    text-align:center;
    font-size:19px; 
}
.project-text{
    padding: 2%;
}
.project-description{
    padding: 2.5% 0;
}
.more-text-line{
    display:block;
}
.more-text{
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin-left: 10%;
}
.more-text:before,
.more-text:after {
        content: '';
        display: inline-block;
        position: relative;
        top: -1px;
        width: 35%;
        height: 0.5px;
        vertical-align: middle;
        background: black;
    }
.project-button {
    margin: 5% 0 0 0;
    text-align:center;
}
.project-button-link {
    text-decoration:none;
    background-color: #ecf2f9;
    color: #0d1a26;
    padding: 10px 10px;
    font-size: 13px;
    
    border:groove;
    border-width:2px;
    border-color: #0d1a26;
    margin-left:5%;
    margin-top:3%;
}
.project-button-link:hover{
    background-color:#0d1a26;
    color:#ecf2f9;
    cursor: pointer;
}

#moreTextOne  {
    display: none;
}
#moreTextTwo {
    display: none;
}
#moreTextOneEN {
    display: none;
}
#moreTextTwoEN {
    display: none;
}
#moreTextThree {
    display: none;
}
#moreTextThreeEN {
    display: none;
}
.contact-list::after,
.contact-list::before{
    content: '';
    display: block;
    height: 1px;
    width:80%;
    background:#ecf2f9;
    opacity: .5;
    margin: 2% auto;  
}
.contact-list-row{
     width: 25%;
    margin: 0 auto;
    display:flex;
    align-items:center;
    padding: 1% 0;
}
.contact-logo{
    font-size: 38px;
    padding-right: 5%;
}
.contact-link{
    text-decoration:none;
    color: #ecf2f9;
}
.contact-link:hover{
    cursor:pointer;
    opacity: 0.7;
}
.contact-form {
    max-width: 550px;
    margin: auto;   
}

.contact-form-input{
    width:86%;
    height:40px;
    background-color:#0d1a26;
    border-color:#ecf2f9;
    border-width:1px;
    color:#ecf2f9;
    float:right;
}
.contact-form-textarea{
    width:86%;
    height:150px;
    background-color:#0d1a26;
    border-color:#ecf2f9;
    border-width:1px;
    color:#ecf2f9;
    float:right;
 }
.contact-form-label{
    color:#ecf2f9;
    margin:2% 0;
    font-size:14px;
}
.send-button{
    margin-top:40%;
    padding: 8px 30px;
    background-color: #0d1a26;
    color: #ecf2f9;
    border-color: #ecf2f9;
    border-width: 1px;
    cursor: pointer;
}
.contact {
    width: 100%;
    height: auto;
    background-color: #0d1a26;
    color: #ecf2f9;
}
.form-name {
    margin-top:2%;
    color: #ecf2f9;
    text-align:center;
    font-size:25px;
}
.button-area{
    
    max-width:50px;
    margin:auto;
    
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
.contact-form{
    margin-bottom: 3%;
}
.last-text::before{
    content: '';
    display: block;
    height: 1px;
    width:80%;
    background:#ecf2f9;
    opacity: .5;
    margin: 0 auto; 
    margin-bottom:2%;
}
.last-text {
    text-align: center;
    color: #ecf2f9;
    margin-top: 2%;
    padding: 1% 0;
    font-size: 13px;
}
label #sing-one,
label #sing-two {
    font-size: 30px;
    color: #0d1a26;
    float:right;
    line-height:50px;
    margin-right:30px;
    cursor:pointer;
    display:none;
}
.res-menu{
    display:none;
}
.error-name, .error-email, .error-message{
    visibility:hidden;
    color:#fb3119;
    font-size:13px;
    margin-left:14%;
}

@media (max-width: 767px) {
    .summary-box{
        width:90%;
        display: block;
        text-align:center;
    }
    .summaty-text{
        font-size: 13px;
    }
    .about-section-name {
        font-size: 25px;
    }
    .section-title{
        font-size: 35px;
    }
    .about-section-name::before{
        margin: 4% auto; 
    }
    .education-section{
        display:block;
        width:90%;
        font-size:13px;
    }
    .home-name{
        font-size: 28px;
    }
    .home-position{
        font-size: 22px;
        margin-bottom: 30px;
    }
    .home-button{
        font-size:12px;
        padding:5px;
    }
    .menu-item{
        padding:20px 6px;
        font-size:12px;
    }

 }
