body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    width: 100%;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.menu {
    width: 100%;
    position: fixed; /* Safari */
    height: auto;
    background-color: rgba(209, 224, 224, 0.7);
}
.menu ul{
    float:right;
    height: auto;
    list-style:none;

}
.menu ul li{
    display: inline-block;
    padding: 30px 15px;
    text-transform:uppercase;
    font-size:1em;
    
}
.iteam_menu {
    color: #0d1a26;
    text-decoration: none;
}
nav a.active {
   font-weight: bold;
}
.home_text {
    position: absolute;
    margin: 25vh 0 0 15%;
    color: #0d1a26;
}

.home_text p{
    font-size: 20px;
    margin-bottom:10px;
}

.home_text h1 {
    font-size: 40px;
    margin-bottom:10px;
}

.home_text h2 {
    font-size: 30px;
    margin-bottom:50px;
}

.home_text a{
    position:absolute;
    color: #0d1a26;
    text-decoration:none;
    border:groove;
    border-color:#0d1a26;
    padding: 10px;
}

.home_text a:hover{
    background:#0d1a26;
    color: #ecf2f9;
    
}

.animation-area {
    background: linear-gradient(#ecf2f9, #0d1a26);
    height: 100vh;
    width: 100%;
}

.boll_animation{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
}

.boll_animation li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(19,38,57,0.15);
    border-radius: 50%;
    animation: animate 20s linear infinite;
    bottom:-100px;
}

.boll_animation li:nth-child(1){
    left:40%;
    width:50px;
    height:50px;
    border-radius: 50%;
    animation-delay:0s;
}

.boll_animation li:nth-child(2){
    left:80%;
    width:100px;
    height:100px;
    border-radius: 50%;
    animation-delay:1.5s;
    animation-duration:10s;
}

.boll_animation li:nth-child(3){
    left:24%;
    width:40px;
    height:40px;
    border-radius: 50%;
    animation-delay:5.5s;
}

.boll_animation li:nth-child(4){
    left:65%;
    width:200px;
    height:200px;
    border-radius: 50%;
    animation-delay:0s;
    animation-duration:15s;
}

.boll_animation li:nth-child(5){
    left:10%;
    width:150px;
    height:150px;
    border-radius: 50%;
    animation-delay:0s;
}

.boll_animation li:nth-child(6){
    left:90%;
    width:45px;
    height:45px;
    border-radius: 50%;
    animation-delay:3.5s;
}

.boll_animation li:nth-child(7){
    left:33%;
    width:90px;
    height:90px;
    border-radius: 50%;
    animation-delay:4.5s;
}

.boll_animation li:nth-child(8){
    left:46%;
    width:70px;
    height:70px;
    border-radius: 50%;
    animation-delay:1.4s;
}

.boll_animation li:nth-child(9){
    left:54%;
    width:90px;
    height:90px;
    border-radius: 50%;
    animation-delay:3.7s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity:1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity:0;
    }
}

.about {
    
    width: 100%;
    height: auto;
    background-color: #0d1a26;
    padding-bottom: 5%;
}

.about h1{
    text-align:center;
    color: #ecf2f9;
    font-size:40px;
    padding: 100px 0 30px 0;
}

hr{
    width:80%;
    margin-left:10%;
    color:#ecf2f9;
    opacity: .5;

}

.about p{
    color: #ecf2f9;
    font-size:30px;
    padding: 30px 0 10px 0;
    text-align:center;
    
}

.summary_box {
    color: #ecf2f9;
}

.summary_box img{
    
    width:25vw;
    float:right;
    margin-right:10%;
    border-radius:50%;
    margin-bottom:2%;
    
}

.summary_box img:hover{
    transform:scale(1.1);
}
.responsive-container img {
    width: 350px;
    border-radius: 50%;
    margin-bottom: 2%;
}
.responsive-container {
    width: 75%;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
    color: #ecf2f9;  
}
.responsive-container table{
    width:100%;
}
.responsive-container td::before{
    display:none;
}
.responsive-container td{
    display:table-cell;
    padding:30px;
    font-size:14pt;
}

@media (max-width: 767px){
    .responsive-container{
        width:90%;
    }
    .responsive-container td{
        display:block;
    }
}

.column p {
    font-size: 17px;
    padding: 7% 25% 0 0;
    text-align: justify;
    float: left;

}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}

.education_table {
    color: #ecf2f9;
    width:90%;
    padding:5% 0 5% 30%;
    font-size:14pt;
}
.technologie_list{
    
    margin-left:17%;
    margin-top:3%;
}
.technology {
    display: inline-block;
    width: 10%;
    font-size: 60px;
}
.fab {
    color: #ecf2f9;
}
.fab:hover{
    opacity:0.7;
}
.fa-database {
    color: #ecf2f9;
}

.projects {
    width: 100%;
    height: auto;
    background-color: #ecf2f9;
}

.projects h1 {
        text-align: center;
        color: #0d1a26;
        font-size: 40px;
        padding: 100px 0 30px 0;
    }

.image_project {
    width: 70%;
    height:auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    
}
.image_project:hover{
   
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
   
}
.project_box h1 {
    font-size: 17pt;
    text-align: center;
    padding: 0;
}

.project_box {
    margin: 3% 0 0 3%;
}

.project_box p{
    width:100%;
    margin-left:10%;
}

.project_button{
    margin: 0 0 5% 10%;   
}
.project_button a {
    text-decoration:none;
    background-color: #ecf2f9;
    color: #0d1a26;
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
    border: groove;
    border-color: #0d1a26;
    margin-left:5%;
    margin-top:3%;
}
.project_button a:hover{
    background-color:#0d1a26;
    color:#ecf2f9;
}

#moreTextOne  {
    display: none;
}
#moreTextTwo {
    display: none;
}

.more_text {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    margin-left: 10%;
}
.more_text:before,
.more_text:after {
        content: '';
        display: inline-block;
        position: relative;
        top: -1px;
        width: 35%;
        height: 1px;
        vertical-align: middle;
        background: black;
    }

.more_text:before {
    left: -5px;
   
}

.more_text:after {
    left: 5px;
   
}



.contact_form {
    margin: 7% 0 7% 0%;
}
.contact_form input{
    width:75%;
    height:40px;
    background-color:#0d1a26;
    border-color:#ecf2f9;
    border-width:medium;
    margin:1% 0;
    color:#ecf2f9;
}
.contact_form textarea{
    width:75%;
    margin: 1% 0;
    height:100px;
    background-color:#0d1a26;
    border-color:#ecf2f9;
    border-width:medium;
    color:#ecf2f9;
 }
.contact_form label{
    color:#ecf2f9;
}
.send_button {
    margin-left:25%;
    padding: 8px 30px;
    background-color: #0d1a26;
    color: #ecf2f9;
    border-color: #ecf2f9;
    border-width: medium;
    cursor: pointer; 

}

.logo_list a {
    font-size: 50px;
    text-decoration: none;
}
.mail_text {
    font-size: 15px;
    text-decoration: none;
    color: #ecf2f9;
    display: none;
}
.logo_list {
    margin-left:23%;
    margin-top:15%;
}
.logo_list li {
    display: inline-block;
    margin: 6%;
    
}

.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius:10%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    color: #ecf2f9;
}
.fa-linkedin:hover {
    
    color: #007bb5;
    opacity: 1;
}
.fa-github {
    color: #ecf2f9;
}
.fa-envelope {
    color: #ecf2f9;
    cursor: copy;
}
.mail_block:hover  .mail_text{
    display:inline-block;
}

.contact {
    width: 100%;
    height: 100vh;
    background-color: #0d1a26;
}

.contact h1{
    text-align:center;
    color: #ecf2f9;
    font-size:40px;
    padding-top:5%;
    margin-bottom:3%;
}
.last_text {
    text-align: center;
    color: #ecf2f9;
    margin-top:2.5%;
    padding: 1% 0;
    font-size:13px;
}


